{% load template_dict %}
<div class="modal fade" id="hiveViewModal" tabindex="-1" role="dialog" aria-labelledby="hiveViewModal" aria-hidden="true">
    <div class="modal-dialog modal-lg custom-class" role="document">
        <div class="modal-content">


            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Registry Browser</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-6">







<div class="css-treeview" id="nodelist">
    <ul>

    </ul>
</div>











                    </div>





                    <div class="col-lg-6">

                            <table class="table" id="regValues">
                                <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Data</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>

                                </tr>
                                </tbody>
                            </table>

                    </div>


                </div>

                <div id="hiveviewcontainer">

                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<!--

<div class="css-treeview" id="nodelist">
    <ul>

        <li><input type="checkbox" id="item-0" /><label for="item-0" onclick="ajaxHandler('hiveviewer', {'file_id':'57c82408695b265f7cf3feb4', 'key': 'Environment', 'reset': false}, false )">This Folder is Closed By Default</label>
            <ul>
                <li><input type="checkbox" id="item-0-0" /><label for="item-0-0">Ooops! A Nested Folder</label>
                    <ul>
                        <li><input type="checkbox" id="item-0-0-0" /><label for="item-0-0-0">Look Ma - No Hands!</label></li>
                    </ul>
                </li>
                <li><input type="checkbox" id="item-0-1" /><label for="item-0-1">Yet Another One</label></li>
                <li><input type="checkbox" id="item-0-2" disabled="disabled" /><label for="item-0-2">Disabled Nested Items</label></li>
            </ul>
        </li>



        <li><input type="checkbox" id="item-1" checked="checked" /><label for="item-1">This One is Open by Default...</label>
                <ul>
                    <li><input type="checkbox" id="item-1-0" /><label for="item-1-0">And Contains More Nested Items...</label>

                    </li>

                </ul>
        </li>


    </ul>
</div>

-->