
<div id="vt-out">
<h3>VirusTotal - {{ VirusTotalSearch.state }}</h3>
{% if VirusTotalSearch.state == 'complete' %}
    {% if VirusTotalSearch.vt_results %}
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>PermaLink</th>
            <td><a href="{{VirusTotalSearch.vt_results.permalink}}">Link to Report</a></td>
        </tr>
        <tr>
            <th>ScanDate</th>
            <td>{{ VirusTotalSearch.vt_results.scandate}}</td>
        </tr>
        <tr>
            <th>Results</th>
            <td>{{VirusTotalSearch.vt_results.positives}} / {{ VirusTotalSearch.vt_results.total }}</td>
        </tr>

    </table>

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Engine</th>
            <th>Version</th>
            <th>Result</th>
        </thead>

        <tbody>
            {%  for key, values in VirusTotalSearch.vt_results.scans.items %}
                {% if values.detected %}
                    <tr class="warning">
                {% else %}
                    <tr>
                {% endif %}

                <td>{{ key }}</td>
                <td>{{ values.version }}</td>
                <td>{{ values.result }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3>Something went wrong displaying results</h3>
    {% endif %}

{% elif VirusTotalSearch.state == 'pending' %}
<h2>Analysis is Still processing on VirusTotal Please try again shortly</h2>
<p>Please wait at least 10 minutes before asking again. As VT will not register your upload immediately. </p>
<a href="#" onclick="ajaxHandler('VirusTotalSearch', {'target_div':'vt-out', 'file_id':'{{VirusTotalSearch.file_id}}', 'extension':true}, false ); return false" class="btn btn-info" role="button">Search Again</a>


{% elif VirusTotalSearch.state == 'missing' %}
    <h2>Not present in VT Would you like to upload?</h2>
    <a href="#" onclick="ajaxHandler('VirusTotalSearch', {'file_id':'{{VirusTotalSearch.file_id}}', 'upload':'true', 'target_div':'vt-out', 'extension':true}, false ); return false" class="btn btn-info" role="button">Upload to VirusTotal</a>

{% elif VirusTotalSearch.state == 'error' %}
    <h2>{{ VirusTotalSearch.vt_results }}</h2>
    <a href="#" onclick="ajaxHandler('VirusTotalSearch', {'file_id':'{{VirusTotalSearch.file_id}}', 'upload':'true', 'target_div':'vt-out', 'extension':true}, false ); return false" class="btn btn-info" role="button">Upload to VirusTotal</a>


{% else %}
<a href="#" onclick="ajaxHandler('VirusTotalSearch', {'file_id':'{{VirusTotalSearch.file_id}}', 'target_div':'vt-out', 'extension':true}, false ); return false" class="btn btn-info" role="button">Search VirusTotal</a>
{% endif %}

</div>