certifi==2018.10.15
chardet==3.0.4
construct==2.9.45
distorm3==3.3.8
Django==1.11.16
django-developer-panel==0.1.2
enum34==1.1.6
geoip2==2.9.0
idna==2.7
ipaddress==1.0.22
maxminddb==1.4.1
pexpect==4.6.0
ptyprocess==0.6.0
pycrypto==2.6.1
pydeep==0.2
pymongo==3.7.2
python-registry==1.0.4
pytz==2018.7
requests==2.20.1
urllib3==1.24.1
virustotal-api==1.1.10
yara-python==3.5.0
git+https://github.com/smarnach/pyexiftool.git#egg=pyexiftool
