pexpect
django
distorm3
geoip2
pycrypto
pymongo
python-registry
virustotal-api
yara-python
git+https://github.com/smarnach/pyexiftool.git#egg=pyexiftool
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability