[database]
mongo_uri = mongodb://localhost

[virustotal]
api_type = public
api_key =

[autorun]
#
# Volutility will try to run these plugins as soon as the image is loaded.
#
autorun = False
plugins = pslist,psscan

[update]
update = True

[extensions]
disabled =

[cuckoo]
modified = True
host = http://172.21.4.2:8181