{% if state == 'complete' %}

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>PermaLink</th>
        <td><a href="{{vt_results.permalink}}">Link to Report</a></td>
    </tr>
    <tr>
        <th>ScanDate</th>
        <td>{{ vt_results.scandate}}</td>
    </tr>
    <tr>
        <th>Results</th>
        <td>{{vt_results.positives}} / {{ vt_results.total }}</td>
    </tr>

</table>

<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>Engine</th>
        <th>Version</th>
        <th>Result</th>
    </thead>

    <tbody>
        {%  for key, values in vt_results.scans.items %}
            {% if values.detected %}
                <tr class="warning">
            {% else %}
                <tr>
            {% endif %}

            <td>{{ key }}</td>
            <td>{{ values.version }}</td>
            <td>{{ values.result }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% elif state == 'pending' %}
<h2>Analysis is Still processing on VirusTotal Please try again shortly</h2>
<p>Please wait at least 10 minutes before asking again. As VT will not register your upload immediately. </p>
<a href="#" onclick="ajaxHandler('virustotal', {'file_id':'{{file_id}}', 'target_div':'vt-out'}, false ); return false" class="btn btn-info" role="button">Search Again</a>


{% elif state == 'missing' %}
    <h2>Not present in VT Would you like to upload?</h2>
    <a href="#" onclick="ajaxHandler('virustotal', {'file_id':'{{file_id}}', 'upload':'true', 'target_div':'vt-out'}, false ); return false" class="btn btn-info" role="button">Upload to VirusTotal</a>

{% else %}
<a href="#" onclick="ajaxHandler('virustotal', {'file_id':'{{file_id}}', 'target_div':'vt-out'}, false ); return false" class="btn btn-info" role="button">Search VirusTotal</a>
{% endif %}

