{% load template_dict %}
<h3 class="text-center text-capitalize" id="pluginName">{{plugin_name}}</h3>
<table id="resultsTable" class="table table-striped table-bordered table-hover resultsTable">
    <thead>
    <tr>
        {% for col in plugin_results.columns %}
        <th>{{ col }}</th>
        {% endfor %}
    </thead>

    <tbody>
        {%  for row in plugin_results.rows %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {%  endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    var vresultCount = '{{ resultcount }}';
    var vActivePluginID = '{{ plugin_id }}';
    var vBookMarks = {{ bookmarks }};
</script>