
<div id="hach-out">
    <h3>MetaData</h3>
    {% if HachoirMetaData.results %}
    <div class="row">
        <div class="col-lg-6">

            <table class="table table-striped table-bordered table-hover">
            {% for key, value in HachoirMetaData.results.items %}

                <tr>
                    <th>{{ key }}</th>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
            </table>





        </div>
        <div class="col-lg-6">
            {% if HachoirMetaData.img_src %}
            <img class="img-responsive" alt="Embedded Image" src="data:image/png;base64,{{ HachoirMetaData.img_src }}" />
            {% endif %}
        </div>
    </div>
    {% else %}

    <a href="#" onclick="ajaxHandler('HachoirMetaData', {'file_id':'{{HachoirMetaData.file_id}}', 'target_div':'hach-out', 'extension':true}, false ); return false" class="btn btn-info" role="button">Parse Meta</a>
    {%  endif %}
</div>
